CLIENT_SECRETS>>>./client_secret_1069647778908-jduahhmhm03j1jr67vd1co87rlb21jj2.apps.googleusercontent.com.json
USER>>>me
DOWNLOAD_PATH>>>{path where attachments should be downloaded}
FILTER>>>{filter for getting an email {subject: , from: , to: } can use wildcards} 
SQLHOST>>>{AirVantage specific}
SQLUSERNAME>>>{AirVantage specific}
SQLPASSWORD>>>{AirVantage specific}
SQLDATABSE>>>{AirVantage specific}
DoAirvantageSpecificManipulation>>>{true if AirVantage , false if not}
